<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.1.xsd"
	default-lazy-init="true">
	
	<context:annotation-config />
	<context:component-scan base-package="com.aiit.graduationproject.service" />
	<!-- 引用数据库配置文件 -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath:properties/jdbc.properties</value>
			</list>
		</property>
	</bean>
	
	<!-- 配置链接数据库属性 -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close" >
		<property name="url" value="${jdbc_url}"/>
        <property name="username" value="${jdbc_username}"/>
        <property name="password" value="${jdbc_password}"/>
        
		<property name="driverClassName" value="${jdbc_driverClassName}"/>
        <!-- 配置初始化大小、最小、最大 -->
        <property name="maxActive" value="${jdbc_maxActive}"/>
        <property name="initialSize" value="${jdbc_initialSize}"/>
        <property name="minIdle" value="${jdbc_minIdle}" /> 
        <!-- 配置获取连接等待超时的时间 -->
        <property name="maxWait" value="${jdbc_maxWait}"/>
         <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
      	<property name="timeBetweenEvictionRunsMillis" value="${jdbc_timeBetweenEvictionRunsMillis}" />
      	<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
      	<property name="minEvictableIdleTimeMillis" value="${jdbc_minEvictableIdleTimeMillis}"/>
      	<property name="validationQuery" value="${jdbc_validationQuery}"/>
      	<property name="testWhileIdle" value="${jdbc_testWhileIdle}"/>
      	<property name="testOnBorrow" value="${jdbc_testOnBorrow}"/>
      	<property name="testOnReturn" value="${jdbc_testOnReturn}"/>
      	<!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->
      	<property name="poolPreparedStatements" value="${jdbc_poolPreparedStatements}"/>
      	<property name="maxPoolPreparedStatementPerConnectionSize" value="${jdbc_maxPoolPreparedStatementPerConnectionSize}"/>
      	<!-- 配置监控统计拦截的filters -->
     	<property name="filters" value="${jdbc_filters}" />
     	<property name="removeAbandoned" value="${jdbc_removeAbandoned}"/>
     	<property name="removeAbandonedTimeout" value="${jdbc_removeAbandonedTimeout}"/>
     	<property name="logAbandoned" value="${jdbc_logAbandoned}"/>
	</bean>
	
	<!-- Mybatis Dao 扫描 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis-config.xml" />
		<property name="dataSource" ref="dataSource" />
		<!-- 扫描entity包 使用别名 -->
		<property name="typeAliasesPackage" value="com.aiit.graduationproject.entity"/>
		<!-- 扫描sql配置文件：mapper需要的xml文件 -->
		<property name="mapperLocations" value="classpath:mapper/*.xml" />
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.aiit.graduationproject.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>
	
	<!-- 事务开始 -->
</beans>